body{
    margin: 0px;
}

.header
{
    width: 100%;
    height: 80px;
    background-color: red;

}

.header h2{          

    color: white;
    margin-left: 600px;
    position: absolute;
}
 .header p
 {
    color: white;
    position: absolute;
    margin-left: 75%;
    margin-top: 50px;
 }

 .header span
 {
    margin-left: 20px;

 }
 
 .container
 {
    width: 80%;
    height: 1500px;
    
    margin: 0 auto; 
 }

 .skr
 {
   width: 100%;
   height: 80px;
   background-color: rgb(182, 136, 228);

 }

 .skr img
 {
    height: 100%;
    width: 200px;
 }

 .skr ul
 {
    list-style: none;
    float: right;
 }
 .skr ul li
 {
    float: right;
    padding: 13px;

 }
 .skr ul li a 
 {
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;

 }
 .skr ul li:hover
 {
   background-color: greenyellow; 

 }
 .ahamad 
 {
    width: 100%;
    height: 600px;
    
 }

 .ahamad img 
 {
    width: 100%;
    height: 100%;
 }

.one 
{
    width: 32%;
    height: 700px;
    background-color: rgb(166, 255, 57);
    margin-top: 40px;
    border-radius: 10%;
    float: left;
}

.two 
{
    width: 32%;
    height: 700px;
    background-color: rgb(236, 107, 248);
    margin-top: 40px;
    border-radius: 10%;
    float: left;
    margin-left: 30px;
}

.three 
{
    width: 32%;
    height: 700px;
    background-color: rgb(133, 133, 255);
    margin-top: 40px;
    border-radius: 10%;
    float: right;
}
.one h1
{
   color: rgb(255, 0, 0);
   text-align: center;
   font-size: 40px;

}
.one p
{
   color: blue;
   text-align: justify;
   padding-left: 30px;
   padding-right: 30px;
   font-size: 24px;
}
.one a
{
  color: black;
  text-decoration: none;
  margin-left: 200px;
  background-color: white;
  padding: 10px;
  border: 3px solid black;

}

.two h1
{
   color: rgb(255, 0, 0);
   text-align: center;
   font-size: 40px;

}
.two p
{
   color: blue;
   text-align: justify;
   padding-left: 30px;
   padding-right: 30px;
   font-size: 24px;
}
.two a
{
  color: black;
  text-decoration: none;
  margin-left: 200px;
  background-color: white;
  padding: 10px;
  border: 3px solid black;

}

.three h1
{
   color: rgb(255, 0, 0);
   text-align: center;
   font-size: 40px;

}
.three p
{
   color: blue;
   text-align: justify;
   padding-left: 30px;
   padding-right: 30px;
   font-size: 24px;
}
.three a
{
  color: black;
  text-decoration: none;
  margin-left: 200px;
  background-color: white;
  padding: 10px;
  border: 3px solid black;

}

