*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f10a0a;
}
.container{
    position: relative;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}